<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Django Template</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css'%}">
</head>
<body>
<div class="navigation-section">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EMOBILIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'%}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'aboutus'%}">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact'%}">CONTACT</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery'%}">GALLERY</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

{% block title %}

{% endblock %}

{% block content %}

{% endblock %}

<section class="footer-section">
    <div class="mt-4 p-5 bg-primary text-white rounded">
  <h1>Jumbotron Example</h1>
  <p>Lorem ipsum...</p>
</div>
</section>

</body>
</html>