{% extends "base.html" %}

{% block title %}
<h2>This is my Index Page</h2>
{% endblock %}

{% block content %}
<h1>This is my Home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, culpa delectus dignissimos dolor dolore ducimus est ex fuga incidunt inventore iusto laborum magni maiores molestiae, molestias natus nobis non nulla perspiciatis porro praesentium sint soluta unde velit voluptatum? A, ad aspernatur consequatur consequuntur corporis dolores eius exercitationem harum in iure laudantium magnam nihil nostrum officiis quis quod reiciendis repellat similique.</p>
<h4>Please visit us again</h4>
<hr>
<button class="btn btn-success">HOME</button>
<button class="btn btn-primary">ABOUT US</button>
<button class="btn btn-danger">GALLERY</button>
<button class="btn btn-dark">CONTACTS</button>
<button class="btn btn-info">REGISTER</button>
<button class="btn btn-secondary">LOGIN</button>
<hr>
{% endblock %}